
article {
  background: $white;
  position: relative;
  transition: 1000ms;
  box-shadow: 0 0.2rem 2.4rem #00000020,
  0 0 2.4rem #00000020;

  &:hover {
    box-shadow: 0 0.2rem 2.4rem #00000020;
    transform: scale(1.01);
    z-index: 9999;

    .preview {
      filter: saturate(2);
    }
  }

  a,
  a:hover,
  a:active {
    color: inherit;
    text-decoration: none;
  }

  .preview {
    background-size: cover;
    transition: 1000ms;

    &:before {
      content: "";
      display: block;
      padding-top: 26%;
    }
  }

  .body {
    padding: 2.4rem;
  }

  .category {
    font-weight: 700;
    font-size: 2.2rem;
    line-height: 4.8rem;
    text-transform: uppercase;
    color: #575757;
  }

  h2.title {
    font-weight: 600;
    font-size: 4rem;
    line-height: 4.8rem;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }

  .summary {
    font-size: 2.2rem;
    line-height: 4.8rem;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    margin-block-start: 0;
    margin-block-end: 0;

    .social {
      color: $text-color-dark;
      position: relative;

      &::after {
        content: "";
        display: block;
        width: 100%;
        height: 0.4rem;
        background: $text-color-dark;
        position: absolute;
        left: 0;
        bottom: 0.4rem;
        transition: 1000ms;
        opacity: 0;
      }

      &:hover::after {
        opacity: 1;
        bottom: -4px;
      }
    }

    .julienandreuFr {
      color: $julienandreuFr-color;

      &::after {
        background: $julienandreuFr-color;
      }
    }

    .linkedIn {
      color: $linkedin-color;

      &::after {
        background: $linkedin-color;
      }
    }

    .twitter {
      color: $twitter-color;

      &::after {
        background: $twitter-color;
      }
    }

  }
}